<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 ">

    <div class="lg:flex flex-row w-full">
       <!-- DATOS DEL CLIENTE -->
      <div class="lg:w-4/6 w-full ">
        <div class="card-viewer">
          <div class="title">
            <h6>Datos del cliente</h6>
          </div>
          <div class="flex flex-col pt-0">
            <form
              [formGroup]="orderCreateForm"
              class="flex flex-col items-start">

              <div class="flex items-center w-full ">
                <mat-form-field
                  class="sm:w-2/4 w-3/4 pr-2 fuse-mat-dense"
                  [subscriptSizing]="'dynamic'">
                  <mat-label>Doc. Identidad</mat-label>
                  <input
                    matInput
                    [formControlName]="'documentNumber'">
                </mat-form-field>

                <button
                  class="flex text-center mt-5"
                  mat-flat-button
                  [color]="'primary'">
                  Search
                </button>
              </div>

              <div class="w-full mt-4 mb-5 border-b"></div>

              <div class="sm:flex flex-row items-center w-full">
                <mat-form-field
                  class="w-full sm:pr-2 flex-auto fuse-mat-dense"
                  >
                  <mat-label>Nombres</mat-label>
                  <input
                    matInput
                    [formControlName]="'clientName'">
                </mat-form-field>

                <mat-form-field
                  class="w-full sm:pr-2 sm:pl-2 fuse-mat-dense"
                  >
                  <mat-label>Apellido Paterno</mat-label>
                  <input
                    matInput
                    [formControlName]="'lastName'">
                </mat-form-field>

                <mat-form-field
                  class="w-full sm:pl-2 flex-auto fuse-mat-dense"
                  >
                  <mat-label>Apellido Materno</mat-label>
                  <input
                    matInput
                    [formControlName]="'middleName'">
                </mat-form-field>
              </div>

              <div class="sm:flex flex-row items-center w-full">
                <mat-form-field
                  class="w-full md:w-1/4 sm:pr-2 fuse-mat-dense"
                  >
                  <mat-label>Celular/Telefono</mat-label>
                  <input
                    matInput
                    [formControlName]="'numberPhone'">
                </mat-form-field>

                <mat-form-field
                  class="w-full md:w-3/4 sm:pl-2 flex-auto fuse-mat-dense"
                  >
                  <mat-label>Dirección</mat-label>
                  <input
                    matInput
                    [formControlName]="'address'">
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- HISTORIAL DE PEDIDOS -->
      <div class="lg:w-2/6 w-full ">
        <div class="card-viewer">
          <div class="title">
            <h6>Historial de Pedidos</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:flex flex-row w-full">
      <div class="w-full">
        <div class="card-viewer">
          <div class="flex flex-col pt-0">
             <div class="p-6">
                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent transactions</div>
                    <div class="text-secondary font-medium">1 pending, 4 completed</div>
                </div>
                <div class="overflow-x-auto mx-6">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="recentTransactionsDataSource"
                        [trackBy]="trackByFn"
                        #recentTransactionsTable>

                        <!-- Transaction ID -->
                        <ng-container matColumnDef="transactionId">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Transaction ID
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let transaction">
                                <!-- <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{transaction.transactionId}}
                                </span> -->
                                <div class="flex items-center w-full">
                                  <mat-form-field
                                    class="w-full fuse-mat-dense"
                                    [subscriptSizing]="'dynamic'">
                                    <mat-select>
                                        <mat-option value="select1-1">Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1</mat-option>
                                        <mat-option value="select1-2">Select 1-2</mat-option>
                                        <mat-option value="select1-3">Select 1-3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Date -->
                        <ng-container matColumnDef="date">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Date
                            </th>
                            <td
                              mat-cell
                              *matCellDef="let transaction"
                              >
                                <!-- <span class="pr-6 whitespace-nowrap">
                                    {{transaction.date | date:'MMM dd, y'}}
                                </span> -->
                                <div class="flex items-center w-full">
                                  <mat-form-field
                                    class="w-full fuse-mat-dense"
                                    [subscriptSizing]="'dynamic'">
                                    <input
                                      matInput
                                      [formControlName]="'documentNumber'">
                                  </mat-form-field>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Name
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 whitespace-nowrap">
                                    {{transaction.name}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Amount -->
                        <ng-container matColumnDef="amount">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Amount
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{transaction.amount | currency:'USD'}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                Status
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let transaction">
                                <span
                                    class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                    [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === 'pending',
                                                'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status === 'completed'}">
                                    <span class="leading-relaxed whitespace-nowrap">{{transaction.status}}</span>
                                </span>
                            </td>
                        </ng-container>
                        <tr
                            mat-header-row
                            *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                      </table>
                </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
